./node_modules
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
**/venv/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
coc-settings.json
space.vim
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
package-lock.json
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.package-lock.json
/documentation/*
.vs/slnx.sqlite
yarn-error.log
chrome-profiler-events.json

# dotenv environment variables file
.env
./docs/*
coc-settings.json
space.vim
./dump.rdb

